#LoadingView {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 40px);
  width: 100%;
  z-index: 90;
}

.loadingText {
  animation: loadingText 500ms infinite;
}

@keyframes loadingText {
  0% {
     margin-right: -50px;
  }
  50% {
    margin-right: 50px
  }
  100% {
    font-size: -50px;
  }
}
