.Drawer {
  transition: all 500ms;
  position: fixed;
  width: 100px;
  height: 100%;
}

.Drawer.shown {
  left: 0%;
}

.Drawer.hidden {
  left: -11%;
}

.snapper {
  transition: all 200ms;

  z-index: 2;
  height: 10vh;
  width: 5vw;
  position: absolute;
  right: -2vw;
  top: 46vh;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 45px;
  border: 1px solid white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-weight: bold;
}

.snapper:hover {
  right: -4vw;
}

.column {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 100vh;
  width: 100px;
}

.column-button {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #FFFFFF;
  border-bottom: 1px solid #BDBDBD;

  font-weight: bold;
  cursor: pointer;
}

.column-button:hover {
  font-size: 18px;
  background-color: #F44336;
}

.column-button.active {
  background-color: #F44336;
}
